@tailwind base;
@tailwind components;
@tailwind utilities;

html,
:root {
    margin: 0;
    padding: 0;
    background-color: theme("colors.background");
    background-image: url("./assets/Github.png");
    background-repeat: no-repeat;
    background-position: 70% 0%;
}
